.dashboard {
    padding: 12px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    height: 92vh;
}

.dashboard * {
    box-sizing: border-box;
    margin: 0;
}

.dashboard::after {
    content: '';
    clear: both;
    display: table;
}

.entry {
    float: right;
    background-color: #51a5ed;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top: 0.8rem; */
}

.back {
    float: right !important;
    background-color: #51a5ed;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    /* margin-top: 1rem; */
}

.persons {
    display: -webkit-box;
    float: left;
    background-color: #51a5ed;
    border: none;
    color: white;
    padding: 6px 19px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    /* margin-top: 1.5rem; */
}

.filterbtns {
    padding: 10px;
    height: fit-content;
    margin-left: 2rem;
    background-color: #51a5ed;
    color: white;
    border: none;
    cursor: pointer;
}