form {
    width: 100%;
    display: table;
    padding-left: 30px;
    padding-top: 30px;
}

input {
    padding: 10px;
    margin-top: 15px
}

.row {
    width: 100%;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.row:nth-child(2), .row:nth-child(3), .row:last-child {
    margin-top: 30px;
}

.col-20 {
    width: 20%;
    display: flow-root;
    float: left;
}

.col-40 {
    width: 40%;
    display: flow-root;
    float: left;
}

#village, #street, #name, #pattam, #gold, #others, #season, #quantity, #rate {
    width: 80%;
}

input[type='submit'] {
    background-color: #51a5ed;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

input[type='reset'] {
    background-color: #51a5ed;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    cursor: pointer;
}

input[type='submit']:hover, input[type='reset']:hover {
    background-color: black;
    color: white;
}
.disabled {
    background-color: gray !important;
    pointer-events: none !important;
}